body {
  margin: 0;
  font-family: sans-serif;
  background: #0d7a1f;
  color: white;
}

.hero {
  background: url("disk/sp_titlecppp.jpg") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  width: 45.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  background-color: rgba(0, 150, 100, 0.6);
  padding: 10px 0px;
  text-align: center;
  border-radius: 10px;
}

.hero-box p {
  margin: 0;
  font-size: 20px;
}

.hero-box h1 {
  margin: 10px 0 0;
  font-size: 40px;
}


.green-section {
  padding: 20px 20px;
}

.green-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

h2{
  font-size: 30px;
}


.card {
  background: #e8e8e8;
  color: #333;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.card h3 {
  color: #0d7a1f;
  text-align: center;
  margin: 0px;
  font-size: 30px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 15px;
}


.point-label {
  color: #0a8f2f;
  font-weight: bold;
  font-size:20px;
}

.h3-label{
  color: #0d7a1f;
  margin: 0;
 font-size: 30px;
 text-align: left;
}

.h3-card{
  background: #e8e8e8;
  color: #333;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.h3-card img{
  width: 100%;
  border-radius: 10px;
  margin: 10px 15px;
}
.topbtn{
  font-size: 20px;
  border: none;
  background-color: #0d7a1f;
  color: red;
  
}

.dic{
  max-width: 10%;
  ;
  
}
.disk-img{
  display: flex;
  
}

/*デスクトップ用*/
@media (min-width: 1024px) {
  /*見出し*/
  .hero{
    background: url(disk/image\ 5.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-box{
    background-color: rgba(0, 150, 100, 0.6);
    padding: 10px 0px;
    text-align: center;
     border-radius: 10px;
  }
  
  p{
  font-size: 32px;  
  }

  .hero-box p {
    margin: 0;
    font-size: 40px;
  }

  .hero-box h1 {
    margin: 10px 0 0;
    font-size: 80px;
  }
  
  .img-item {
  height: auto;    
  display: block; 
  
  }

  .card img{
  width: 300px;
  height: 300px;
  
  }

  .card p .img-item{
    display: flex;
  }

  .h3-card img{
  width: 50%;
  }

  .h3-card{
  font-size: 30px;
  margin-left: 5px;
  letter-spacing: 0.05em;
  }

  h2{
  font-size: 60px;
  }

  .card p{
  font-size: 30px;
  margin-left: 5px;
  letter-spacing: 0.05em;
  }

  .card-in{
    display: flex;
  }

  .green-section h3{
  font-size: 50px;
  }

  .topbtn{
    font-size: 30px;
  }

  .dic{
    Smax-width: 5%;
  
  }

}
